@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title quicksand">
                <h1>@ViewBag.Title.</h1>               
            </hgroup>
            <p>            
            </p>
        </div>
    </section>
}
<div class="clear-fix">
    @Html.ActionLink("Create customer profile", "CreateCustomerProfile", null, new { @class = "custombutton" })
</div>
